body
{
}
input 
{
        position: relative;
        font-size: xx-small;
        border: 0px solid #009EE0;
        max-width: 40px;
        float: left;
	margin-top:1px;        
}

ul 
{
        list-style-type: none;
        padding-left: 3px;
        position: relative;
        float: left;
        margin-top: 15px;
        
}

td
{
	margin-bottom: 1px;
	border-radius: 3px;
	position: relative;
	float: left;
        font-size: xx-small;

}

td span { 
        float: left;
        position: relative;
	margin-top:2px;        
}

#jilaku 
{
        position: relative;
        float: left;
        font-size: xx-small;
        border : 3px solid #009EE0;
        position: relative;
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        
}

#detailsdiv
{
        position: relative;
        float: left;
        font-size: xx-small;
        width: 115px;
        height: 115px;
        border : 3px solid #009EE0;
        position: relative;
        float: left;
        padding-left: 7px;
	display: none;
}

#div_credits
{
	display: none;
	background: white;
}

#heading
{
        padding-top: 7px;
        padding-left: 5px;
}

#headtitle
{
        font-size: small;
}

#footer
{
        font-size: xx-small;
        width: 120px;
        height: 150px;
        position: relative;
        float: left;
}

